
<h2 class="blog-post-title">Crítica 5/5</h2>
<p class="blog-post-meta">Escrito por <a target="_blank" href="https://www.omelete.com.br/filmes/criticas/critica-o-senhor-dos-aneis-a-sociedade-do-anel">Marcelo Forlani</a>, em 1 de Janeiro de 2012.</p>
<p>"<i>
                Muito já foi dito sobre O Senhor dos Anéis - A Sociedade do Anel. Na verdade, tudo já foi dito! Basta procurar na Internet e achar críticas, notícias e fofocas a dar com pau. Na verdade, basta vasculhar aqui no Omelete mesmo para saber tudo é preciso para entrar no mundo criado por J.R.R. Tolkien. Mas afinal, o que há de tão especial assim neste filme&qt& Bom, ele foi concebido seguindo fiel, mas não cegamente, o livro homônimo, lançado em 1954. Este é o grande diferencial, por exemplo, em relação ao seu maior concorrente nos cinemas, Harry Potter e a Pedra Filosofal.
            
            O diretor Chris Columbus se limitou a fazer um filme certinho, seguindo parágrafo a parágrafo o texto de J.K. Rowling. Nenhum demérito nisso. Columbus deixou os fãs do menino bruxo felizes, os executivos sorrindo à toa com o sucesso obtido e garantiu o emprego para as seqüências da série.
</i>" </p>
