<body>
  <br>
    <div class="container">
        <app-titulo></app-titulo>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Uma Aventura Fansatiosa!
          </h3>

          <div class="blog-post text-justify">
            <app-sinopse></app-sinopse>
          </div><!-- /.blog-post -->

          <div class="blog-post text-justify">
            <app-criticas></app-criticas>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div id="about" class="p-3 mb-3 rounded" style="background-color: #486753; color: #FFF">
            <h4 class="font-italic">Sobre</h4>
            <p class="mb-0"> Este blog tem o intuito de reunir informações gerais sobre o universo de Tolkien com foco no Senhor dos Anéis e em Hobbit.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Arquivos</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">Março de 2018</a></li>
              <li><a href="#">Fevereiro de 2018</a></li>
              <li><a href="#">Janeiro de 2018</a></li>
              <li><a href="#">Dezembro de 2017</a></li>
              <li><a href="#">Novembro de 2017</a></li>
              <li><a href="#">Outubro de 2017</a></li>
              <li><a href="#">Setembro de 2017</a></li>
              <li><a href="#">Agosto de 2017</a></li>
              <li><a href="#">Julho de 2017</a></li>
              <li><a href="#">Junho de 2017</a></li>
              <li><a href="#">Maio de 2017</a></li>
              <li><a href="#">Abril de 2017</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Onde nos encontrar, por aí:</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/pedrobarbosaocb" target="_blank">GitHub</a></li>
              <li>
                <a href="#">
                  Twitter
                </a>
              </li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->
